body {
	margin: 0px;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #525252;
	background-color: #ddd;
}
h2 {
	font-size: medium;
	color: #018F90;
}
.ref {
	color:#000;
	padding-left:3px;
	padding-right:3px;
	background:#ddd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.content {
	background-color: #FFFFFF;
	padding: 20px 30px;
	color: #525252;
	text-align: justify;
}
.snippet {
	border-left:5px #009090 solid;
	padding-left:5px;
	margin:10px 10px 0px 10px;

}
